@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

@import "bootstrap";
@import "font-awesome";
@import "owl";

$font-family-base: 'Helvetica', sans-serif;

html {
	position: relative;
	min-height: 100%;
}

body {
	background: url('../img/background.png');
  overflow: none !important;
}

.main-content {
	padding-bottom: 40px !important;
}

/* CUSTOMISE THE CAROUSEL
-------------------------------------------------- */
.carousel {
	width: 100%;
	height: 500px;
	margin-bottom: 60px;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	height: 500px;
	background-color: #777;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

/* CUSTOMISE THE NAVBAR
------------------------------------------------------ */

.btn-primary {
    color: #fff;
    background-color: #d64b4b;
    border-color: #ab3b3b;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
  background-color: #e85c5c;
  border-color: #d64b4b;
} 

/*$bgDefault      	: #603b34;
$bgHighlight    	: #7c5048;
$colDefault     	: #ffffff;
$colHighlight       : #f1f1f1;*/

$bgDefault      	: #d64b4b;
$bgHighlight    	: #e85c5c;
$colDefault     	: #e2e2e2;
$colHighlight       : #ffffff;

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    font-family: 'Great Vibes', cursive, sans-serif;
    font-size: 26px;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/*Footer-v1
------------------------------------*/
.footer-v1 .footer {
  padding: 40px 0;  
  background: #272727;
}

.footer-v1 .footer p {
  color: #eee;
}

.footer-v1 .footer h2 {
  color: #eee;
  font-size: 18px;
  font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
  border-top: solid 1px #353535;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
  color: #eee;
}

.footer-v1 address {
  line-height: 23px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
  background: url(../img/map-img.png) 5px 60px no-repeat;
}

/*Blog Posts (with images)*/
.footer-v1 .footer .posts .dl-horizontal a {
 color: #dadada;
}

.footer-v1 .footer .dl-horizontal a:hover {
 color: #5fb611 !important;
}

/*Copyright*/
.footer-v1 .copyright {
  background: #222;
  border-top: none;
  padding: 10px 0 5px;
}

.footer-v1 .copyright p {
  color: #eee;
  margin-top: 14px;
}

.footer-v1 .copyright a {
  margin: 0 2px;
}

.footer-v1 .footer-socials {
  margin-top: 12px;
  text-align: right;
}

.footer-v1 .footer-socials li a {
  color: #777;
  font-size: 16px;
}

@media (max-width: 991px) {
  .footer-v1 .copyright,
  .footer-v1 .footer-socials {
    text-align: left;
  }
}

.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
  font-size: 22px;
}

.headline h2, 
.headline h3, 
.headline h4 {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid $bgDefault;
}

.headline-md {
  margin-bottom: 15px;
}

.headline-md h2 {
  font-size: 21px;
}

/*Footer Logo*/
.footer-logo {
  margin: 17px 0 20px;
  color: $colDefault !important;
  font-family: 'Great Vibes', cursive, sans-serif;
  font-size: 26px;
  text-decoration: none !important;
}

/*Latest List*/
.latest-list li {
  padding: 8px 0;
  border-top: 1px solid #353535;
}

.latest-list li:first-child {
  padding-top: 0;
  border-top: none;
}

.latest-list li a {
  color: #eee;
}

.latest-list small {
  color: #999;
  display: block;
}

/*Link List*/
.link-list li {
  border-top: solid 1px #353535;
}

.link-list li:first-child {
  border-top: none !important;
}

.latest-list li a, .latest-list li a:hover, .latest-list li a:active, .latest-list li a:visited {
  text-decoration: none !important;
}

.link-list a {
  color: #eee;
  font-size: 11px;
  padding: 6px 0px;
  display: inline-block;
  text-transform: uppercase;
}

.link-list li i {
  color: #bbb;
  float: right;
  margin-top: 10px;
}

address a, address a:hover, address a:active, address a:visited {
    color: $bgDefault;
    text-decoration: none;
}

code.price
{
font-size: 20px;
font-weight: bold;
}

p.notice 
{
text-align:center;
}
footer.review 
{
color:white;
}

form > div.error {
  width: 100%;
  color: #D8000C;
  background-color: #FFBABA;
  padding: 3px;
  margin-bottom:15px;
  display: none;
  font-style: italic;
  text-align: left;
}

form > div.error > label {
  display: block;
}